<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <header [data]="'Heloooooow'"></header>
  <ion-list *ngFor="let list of listData">
    <ng-container *ngIf='!list.show'>
      <ion-item>{{ list.id }}</ion-item>
      <ion-item>{{ list.name }}</ion-item>
    </ng-container>
  </ion-list>
</ion-content>
