<!--
  Generated template for the AuthenticationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="tabs">
      <ion-segment-button value="sign-in">
        SIGN IN
      </ion-segment-button>
      <ion-segment-button value="sign-up">
        SIGN UP
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabs">
    <ion-list *ngSwitchCase="'sign-in'">
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input
          type="text"
          value=""
          [(ngModel)]="formData.username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input
          type="password"
          value=""
          [(ngModel)]="formData.password"
        ></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button (click)="processLogin()">Sign In</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
